<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron">
                <h2> Your Meditation Journals </h2>
                <h4 ng-hide="selectedJournal"> Select a Journal to View </h4>
            </div>
            <div class="row" ng-show="selectedJournal">
                <div>
                    <h2> {{ selectedJournal.title }} <span class="text-muted"> {{ selectedJournal.meditationDateTime | formatDate }} </span> </h2>
                    <p> {{ selectedJournal.content }} </p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="/#!/journals" ng-repeat="j in journals" ng-click="selectJournal(j)" class="list-group-item"> {{ j.title }} </a>
            </div>
        </div>
    </div>
    <hr>
</div>