<div class="row marketing">
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-circle" src="../media/meditation1.png" width="300" height="300">
                <h2> Meditation Timer </h2>
                <p> Time your daily meditations </p>
                <p><a class="btn btn-default" href="/#!/meditate" role="button">Meditate Now</a></p>
            </div>
            <div class="col-lg-6">
                <img class="img-circle" src="../media/journal.png" width="300" height="300">
                <h2>Track Your Meditations</h2>
                <p>Journal your meditations after successful completion</p>
                <p><a class="btn btn-default" href="/#!/journals" role="button">View Your Journals</a></p>
            </div>
        </div>


        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Meditation Timer. <span class="text-muted"> Gently time your meditation session </span></h2>
                <p class="lead"> Will help you improve your meditation stamina with a peaceful chime at the end. </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" ng-src="../media/timer.png">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">Journal your Meditations. <span class="text-muted"> Save your meditation experience.</span></h2>
                <p class="lead"> Keep a daily log of your sensations during your meditation. Will help you track your progress. </p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" ng-src="../media/meditation2.png">
            </div>
        </div>

        <hr class="featurette-divider">
    </div>
</div>